version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: eathub-postgres
    environment:
      POSTGRES_USER: eathub
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
        - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
